<!DOCTYPE log4j:configuration SYSTEM  "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug" />
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy - HH:mm:ss} [%-5p] %c{2} - %m%n" />
		</layout>
	</appender>
	
	<!-- <param name="append" value="true"> es para actualizar e fichero .log con cada escritura -->
	<!-- ${catalina.base}/... -->
	 <appender name="fileAppender" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="append" value="true" />
		<param name="threshold" value="debug" />
		<param name="encoding" value="UTF-8" />
	 	<!-- la propiedad 'maxFileSize'
		es de 'org.apache.log4j.RollingFileAppender'
		y no de 'org.apache.log4j.rolling.RollingFileAppender'
	 	<param name="maxFileSize" value="1MB" /> -->
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<!-- value="log_loqua.%d{yyyy-MM-dd_HH_mm}.log" -->
			<param name="FileNamePattern"
				value="log_loqua.%d{yyyy-MM}.log" />
		</rollingPolicy>
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy - HH:mm:ss} [%-5p] %c{2} - %m%n" />
		</layout>
	</appender>
 	
 	<!-- additivity="false" -->
	<logger name="debugLoqua" additivity="false">
		<level value="WARN" />
		<appender-ref ref="console" />
        <appender-ref ref="fileAppender" />
	</logger>
	
	<!--
	<root>
		<level value="FATAL" />
		<appender-ref ref="console" />
		<appender-ref ref="fileAppender" />
	</root>
	-->
</log4j:configuration>